<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= cat.name %></title>
  </head>
  <body>
    
    <nav>
      <a href="/cats/">Back to Home</a>
      <a href="/cats/<%= cat._id %>/edit">Edit <%= cat.name %></a>
    </nav>
    
    <h1><%= cat.name %></h1>
    <div class="img-container">
      <p><%= cat.name %> is <%= cat.age %> years old.</p>
      <div class="img-card"><img src="<%= cat.image %>" alt="<%= cat.name %>"></div>
    </div>


    <form action="/cats/<%=cat._id%>?_method=DELETE" method="POST" class="delete-form">
        <button type="submit" id="delete-btn">Delete <%= cat.name %></button>
    </form>

  </body>
</html>